# Credencial específica deste cliente/repositório (usada somente durante o build).
GOOGLE_PLACES_API_KEY=
PUBLIC_SITE_URL=https://mattosesantos.feito.website
PUBLIC_CONTACT_EMAIL=mattosesantosassessoria@gmail.com
